@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Trang chính";
}
<h1>Chào, @ViewBag.User</h1>
<p>Đây là trang chính của ứng dụng đặt lịch.</p>
<a href="/Auth/Logout">Đăng xuất</a>
